#clock {
  display: block;
}

#root {
  border: 1px solid black;
  background-color: rgb(225, 225, 225);
}

h1, h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
  font-weight: 400;
}

.buttonList {
  text-align: center;
}

#toggle {
  display: block;
  text-align: center;
  margin: auto;
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
  background-color: rgb(88, 149, 246);
}

button {
  color: white;
  border-radius: 5px;
  border: 0.5px solid black;
}

.buttonList > button {
  width: 150px;
  height: 50px;
  margin: 10px 3px 10px 3px;
}

#start {
  background-color: red;
}
#pause {
  background-color: rgb(78, 190, 212);
}
#record {
  background-color: orange;
}
#reset {
  background-color: green;
}

#recordList {
  margin-left: 100px;
}