body {
    color: #333;
    background-color: #fff;
}

#refreshButton {
    font-size: 20px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #999;
    border-radius: 5px;
    color: #999;
}

#incomplete-table {
    margin-top: 10px;
    width: 700px;
    border-radius: 10px;
    background-color: #0d0944;
    border-spacing: 10px 20px;
}

#table-head > tr td {
    color: #fff;
    background-color: transparent;
    padding: 0;
}

